<header>
    <h1 style="text-align: center;">User Form</h1>
  </header>
  
  <main>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="my-form">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" required>
  
      <label for="email">Email:</label>
      <input type="email" formControlName="email" required>
  
      <label for="mobile">Mobile:</label>
      <input type="tel" formControlName="mobile" required>
  
      <label for="gender">Gender:</label>
      <select formControlName="gender" required>
        <option value=""></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
  
      <label for="profile">Profile:</label>
      <input type="file" formControlName="profile" accept="image/*" required>
  
      <label for="dob">DOB:</label>
      <input type="date" formControlName="dob" [max]="getMinimumDate()" required>
  
      <label for="password">Password:</label>
      <input type="password" formControlName="password" required>
  
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" formControlName="confirmPassword" required>
  
      <div class="error-message" *ngIf="myForm.hasError('notSame') && myForm.get('confirmPassword')?.dirty">
        Passwords do not match
      </div>
  
      <button type="submit" (click)="onSubmit()">Submit</button>
    </form>
  </main>
  

  